In [1887]:
import pandas as pd
import numpy as np
import warnings

In [1888]:
warnings.filterwarnings('ignore')

In [1889]:
df = pd.read_csv('New York Airbnb_4 dec 2021.csv')

In [1890]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.33,3,338,0,NaN
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,2021-10-22,4.86,1,194,32,NaN
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.52,2,365,0,NaN
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,2021-08-08,0.02,1,123,1,NaN
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,507,2021-11-08,3.68,1,192,33,NaN

In [1891]:
df['neighbourhood'].nunique()

222

In [1892]:
df.shape

(38277, 18)

In [1893]:
df.isnull().sum()

id                                    0
name                                 14
host_id                               0
host_name                            34
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        9504
reviews_per_month                  9504
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           38276
dtype: int64

In [1894]:
df = df.drop('license', axis=1)

In [1895]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
dtype: object

In [1896]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['Year'] = df['last_review'].dt.year
df['Month'] = df['last_review'].dt.month
df['Day'] = df['last_review'].dt.day

df = df.drop('last_review', axis=1)

In [1897]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

df['Year'] = df['Year'].fillna(df['Year'].mean())
df['Month'] = df['Month'].fillna(df['Month'].mean())
df['Day'] = df['Day'].fillna(df['Day'].mean())

In [1898]:
df = df.dropna()

In [1899]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
Year                              0
Month                             0
Day                               0
dtype: int64

In [1900]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Year,Month,Day
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,0.33,3,338,0,2019.0,11.0,4.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,4.86,1,194,32,2021.0,10.0,22.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,0.52,2,365,0,2016.0,6.0,5.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,0.02,1,123,1,2021.0,8.0,8.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,507,3.68,1,192,33,2021.0,11.0,8.0

In [1901]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Year,Month,Day
count,3.822900e+04,3.822900e+04,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000,38229.000000
mean,2.963427e+07,1.148704e+08,40.729191,-73.948947,170.653640,21.628868,23.308535,1.294955,17.762798,134.304533,5.036177,2019.632691,8.233852,16.411650
std,1.742103e+07,1.299651e+08,0.055746,0.050777,305.075903,29.587640,50.404275,3.888616,59.185606,143.180603,14.700344,1.606184,2.883425,8.421593
min,2.595000e+03,2.438000e+03,40.504560,-74.249840,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2010.000000,1.000000,1.000000
25%,1.342500e+07,1.138926e+07,40.689240,-73.983260,70.000000,3.000000,1.000000,0.010000,1.000000,0.000000,0.000000,2019.000000,8.000000,11.000000
50%,3.081992e+07,5.005297e+07,40.725150,-73.954760,114.000000,30.000000,4.000000,0.200000,1.000000,73.000000,0.000000,2019.631530,8.232961,16.410141
75%,4.643278e+07,2.002395e+08,40.762690,-73.930410,189.000000,30.000000,20.000000,1.140000,3.000000,302.000000,3.000000,2021.000000,11.000000,22.000000
max,5.366510e+07,4.344080e+08,40.914020,-73.710870,10000.000000,1250.000000,1009.000000,141.000000,421.000000,365.000000,669.000000,2021.000000,12.000000,31.000000

In [1902]:
df = df.drop(['host_name', 'name'], axis=1)
df.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Year,Month,Day
0,2595,2845,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,0.33,3,338,0,2019.0,11.0,4.0
1,3831,4869,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,409,4.86,1,194,32,2021.0,10.0,22.0
2,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,0.52,2,365,0,2016.0,6.0,5.0
3,5136,7378,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,2,0.02,1,123,1,2021.0,8.0,8.0
4,5178,8967,Manhattan,Midtown,40.76457,-73.98317,Private room,68,2,507,3.68,1,192,33,2021.0,11.0,8.0

In [1903]:
X = df.drop('price', axis=1)
y = df['price']

In [1904]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [1905]:
enc = LabelEncoder()

In [1906]:
for c in X.columns:
    if X[c].dtype == 'O':
        X[c] = enc.fit_transform(X[c])

In [1907]:
for c in X.columns:
    if X[c].dtype == 'O':
        X[c] = enc.fit_transform(X[c])

In [1908]:
X.head()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,Year,Month,Day
0,2595,2845,2,129,40.75356,-73.98559,0,30,48,0.33,3,338,0,2019.0,11.0,4.0
1,3831,4869,1,12,40.68494,-73.95765,0,1,409,4.86,1,194,32,2021.0,10.0,22.0
2,5121,7356,1,12,40.68535,-73.95512,2,30,50,0.52,2,365,0,2016.0,6.0,5.0
3,5136,7378,1,192,40.66265,-73.99454,0,5,2,0.02,1,123,1,2021.0,8.0,8.0
4,5178,8967,2,129,40.76457,-73.98317,2,2,507,3.68,1,192,33,2021.0,11.0,8.0

In [1909]:
scaler = MinMaxScaler((0, 1))

In [1910]:
X = scaler.fit_transform(X)

In [1911]:
X.max()

1.0

In [1912]:
from sklearn.utils import shuffle

In [1913]:
# X, y = shuffle(X, y)

In [1914]:
from sklearn.model_selection import train_test_split

In [1915]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [1916]:
print(X_train.shape)
print(X_test.shape)

(32494, 16)
(5735, 16)

In [1917]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [1918]:
model = Sequential([
    layers.Dense(64, activation='relu', input_shape=([X_train.shape[1]])),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
])

In [1919]:
model.compile(
    loss='msle',
    optimizer=keras.optimizers.RMSprop(0.001),
    
)

In [1920]:
hist = model.fit(
    X_train, y_train,
    validation_split=0.2,
    verbose=2,
    epochs=200
)

Epoch 1/200

813/813 - 1s - loss: 1.7040 - val_loss: 0.4674 - 1s/epoch - 1ms/step
Epoch 2/200
813/813 - 1s - loss: 0.4220 - val_loss: 0.4154 - 678ms/epoch - 834us/step
Epoch 3/200
813/813 - 1s - loss: 0.4003 - val_loss: 0.4013 - 678ms/epoch - 834us/step
Epoch 4/200
813/813 - 1s - loss: 0.3894 - val_loss: 0.3918 - 664ms/epoch - 817us/step
Epoch 5/200
813/813 - 1s - loss: 0.3813 - val_loss: 0.3852 - 658ms/epoch - 810us/step
Epoch 6/200
813/813 - 1s - loss: 0.3748 - val_loss: 0.3832 - 658ms/epoch - 809us/step
Epoch 7/200
813/813 - 1s - loss: 0.3703 - val_loss: 0.3750 - 651ms/epoch - 801us/step
Epoch 8/200
813/813 - 1s - loss: 0.3671 - val_loss: 0.3744 - 650ms/epoch - 800us/step
Epoch 9/200
813/813 - 1s - loss: 0.3644 - val_loss: 0.3700 - 664ms/epoch - 817us/step
Epoch 10/200
813/813 - 1s - loss: 0.3620 - val_loss: 0.3688 - 655ms/epoch - 805us/step
Epoch 11/200
813/813 - 1s - loss: 0.3599 - val_loss: 0.3682 - 655ms/epoch - 806us/step
Epoch 12/200
813/813 - 1s - loss: 0.3581 - val_loss: 0.3638 - 704ms/epoch - 866us/step
Epoch 13/200
813/813 - 1s - loss: 0.3559 - val_loss: 0.3624 - 716ms/epoch - 881us/step
Epoch 14/200
813/813 - 1s - loss: 0.3539 - val_loss: 0.3642 - 723ms/epoch - 889us/step
Epoch 15/200
813/813 - 1s - loss: 0.3520 - val_loss: 0.3595 - 654ms/epoch - 804us/step
Epoch 16/200
813/813 - 1s - loss: 0.3502 - val_loss: 0.3606 - 652ms/epoch - 802us/step
Epoch 17/200
813/813 - 1s - loss: 0.3484 - val_loss: 0.3566 - 655ms/epoch - 806us/step
Epoch 18/200
813/813 - 1s - loss: 0.3464 - val_loss: 0.3557 - 664ms/epoch - 816us/step
Epoch 19/200
813/813 - 1s - loss: 0.3449 - val_loss: 0.3517 - 656ms/epoch - 807us/step
Epoch 20/200
813/813 - 1s - loss: 0.3432 - val_loss: 0.3508 - 656ms/epoch - 807us/step
Epoch 21/200
813/813 - 1s - loss: 0.3420 - val_loss: 0.3505 - 651ms/epoch - 800us/step
Epoch 22/200
813/813 - 1s - loss: 0.3405 - val_loss: 0.3487 - 655ms/epoch - 805us/step
Epoch 23/200
813/813 - 1s - loss: 0.3393 - val_loss: 0.3483 - 655ms/epoch - 806us/step
Epoch 24/200
813/813 - 1s - loss: 0.3381 - val_loss: 0.3469 - 649ms/epoch - 798us/step
Epoch 25/200
813/813 - 1s - loss: 0.3366 - val_loss: 0.3457 - 649ms/epoch - 799us/step
Epoch 26/200
813/813 - 1s - loss: 0.3355 - val_loss: 0.3439 - 648ms/epoch - 797us/step
Epoch 27/200
813/813 - 1s - loss: 0.3343 - val_loss: 0.3434 - 650ms/epoch - 799us/step
Epoch 28/200
813/813 - 1s - loss: 0.3327 - val_loss: 0.3414 - 678ms/epoch - 833us/step
Epoch 29/200
813/813 - 1s - loss: 0.3313 - val_loss: 0.3400 - 673ms/epoch - 828us/step
Epoch 30/200
813/813 - 1s - loss: 0.3295 - val_loss: 0.3427 - 691ms/epoch - 850us/step
Epoch 31/200
813/813 - 1s - loss: 0.3275 - val_loss: 0.3369 - 676ms/epoch - 831us/step
Epoch 32/200
813/813 - 1s - loss: 0.3261 - val_loss: 0.3341 - 638ms/epoch - 785us/step
Epoch 33/200
813/813 - 1s - loss: 0.3239 - val_loss: 0.3330 - 646ms/epoch - 795us/step
Epoch 34/200
813/813 - 1s - loss: 0.3212 - val_loss: 0.3296 - 647ms/epoch - 796us/step
Epoch 35/200
813/813 - 1s - loss: 0.3196 - val_loss: 0.3332 - 650ms/epoch - 799us/step
Epoch 36/200
813/813 - 1s - loss: 0.3174 - val_loss: 0.3327 - 646ms/epoch - 794us/step
Epoch 37/200
813/813 - 1s - loss: 0.3159 - val_loss: 0.3392 - 650ms/epoch - 799us/step
Epoch 38/200
813/813 - 1s - loss: 0.3140 - val_loss: 0.3265 - 654ms/epoch - 805us/step
Epoch 39/200
813/813 - 1s - loss: 0.3129 - val_loss: 0.3467 - 655ms/epoch - 806us/step
Epoch 40/200
813/813 - 1s - loss: 0.3118 - val_loss: 0.3236 - 646ms/epoch - 795us/step
Epoch 41/200
813/813 - 1s - loss: 0.3103 - val_loss: 0.3211 - 646ms/epoch - 795us/step
Epoch 42/200
813/813 - 1s - loss: 0.3085 - val_loss: 0.3192 - 647ms/epoch - 796us/step
Epoch 43/200
813/813 - 1s - loss: 0.3077 - val_loss: 0.3210 - 643ms/epoch - 791us/step
Epoch 44/200
813/813 - 1s - loss: 0.3064 - val_loss: 0.3167 - 646ms/epoch - 794us/step
Epoch 45/200
813/813 - 1s - loss: 0.3051 - val_loss: 0.3192 - 651ms/epoch - 800us/step
Epoch 46/200
813/813 - 1s - loss: 0.3036 - val_loss: 0.3224 - 642ms/epoch - 790us/step
Epoch 47/200
813/813 - 1s - loss: 0.3031 - val_loss: 0.3245 - 637ms/epoch - 784us/step
Epoch 48/200
813/813 - 1s - loss: 0.3021 - val_loss: 0.3156 - 648ms/epoch - 797us/step
Epoch 49/200
813/813 - 1s - loss: 0.3002 - val_loss: 0.3182 - 638ms/epoch - 784us/step
Epoch 50/200
813/813 - 1s - loss: 0.2995 - val_loss: 0.3111 - 649ms/epoch - 798us/step
Epoch 51/200
813/813 - 1s - loss: 0.2987 - val_loss: 0.3132 - 645ms/epoch - 793us/step
Epoch 52/200
813/813 - 1s - loss: 0.2980 - val_loss: 0.3148 - 631ms/epoch - 776us/step
Epoch 53/200
813/813 - 1s - loss: 0.2971 - val_loss: 0.3151 - 639ms/epoch - 786us/step
Epoch 54/200
813/813 - 1s - loss: 0.2963 - val_loss: 0.3099 - 636ms/epoch - 782us/step
Epoch 55/200
813/813 - 1s - loss: 0.2957 - val_loss: 0.3087 - 641ms/epoch - 788us/step
Epoch 56/200
813/813 - 1s - loss: 0.2948 - val_loss: 0.3104 - 640ms/epoch - 787us/step
Epoch 57/200
813/813 - 1s - loss: 0.2943 - val_loss: 0.3150 - 646ms/epoch - 794us/step
Epoch 58/200
813/813 - 1s - loss: 0.2935 - val_loss: 0.3089 - 666ms/epoch - 819us/step
Epoch 59/200
813/813 - 1s - loss: 0.2929 - val_loss: 0.3067 - 649ms/epoch - 798us/step
Epoch 60/200
813/813 - 1s - loss: 0.2924 - val_loss: 0.3059 - 642ms/epoch - 789us/step
Epoch 61/200
813/813 - 1s - loss: 0.2920 - val_loss: 0.3048 - 632ms/epoch - 778us/step
Epoch 62/200
813/813 - 1s - loss: 0.2914 - val_loss: 0.3090 - 705ms/epoch - 867us/step
Epoch 63/200
813/813 - 1s - loss: 0.2910 - val_loss: 0.3074 - 681ms/epoch - 838us/step
Epoch 64/200
813/813 - 1s - loss: 0.2905 - val_loss: 0.3037 - 666ms/epoch - 820us/step
Epoch 65/200
813/813 - 1s - loss: 0.2902 - val_loss: 0.3088 - 660ms/epoch - 812us/step
Epoch 66/200
813/813 - 1s - loss: 0.2897 - val_loss: 0.3055 - 662ms/epoch - 814us/step
Epoch 67/200
813/813 - 1s - loss: 0.2891 - val_loss: 0.3091 - 650ms/epoch - 800us/step
Epoch 68/200
813/813 - 1s - loss: 0.2888 - val_loss: 0.3070 - 652ms/epoch - 802us/step
Epoch 69/200
813/813 - 1s - loss: 0.2890 - val_loss: 0.3042 - 654ms/epoch - 805us/step
Epoch 70/200
813/813 - 1s - loss: 0.2883 - val_loss: 0.3034 - 655ms/epoch - 805us/step
Epoch 71/200
813/813 - 1s - loss: 0.2876 - val_loss: 0.3095 - 657ms/epoch - 808us/step
Epoch 72/200
813/813 - 1s - loss: 0.2875 - val_loss: 0.3015 - 654ms/epoch - 805us/step
Epoch 73/200
813/813 - 1s - loss: 0.2872 - val_loss: 0.3074 - 659ms/epoch - 811us/step
Epoch 74/200
813/813 - 1s - loss: 0.2869 - val_loss: 0.3021 - 660ms/epoch - 812us/step
Epoch 75/200
813/813 - 1s - loss: 0.2862 - val_loss: 0.3199 - 650ms/epoch - 800us/step
Epoch 76/200
813/813 - 1s - loss: 0.2861 - val_loss: 0.3008 - 655ms/epoch - 806us/step
Epoch 77/200
813/813 - 1s - loss: 0.2856 - val_loss: 0.3026 - 654ms/epoch - 804us/step
Epoch 78/200
813/813 - 1s - loss: 0.2857 - val_loss: 0.2998 - 653ms/epoch - 803us/step
Epoch 79/200
813/813 - 1s - loss: 0.2854 - val_loss: 0.3047 - 640ms/epoch - 787us/step
Epoch 80/200
813/813 - 1s - loss: 0.2851 - val_loss: 0.3016 - 647ms/epoch - 796us/step
Epoch 81/200
813/813 - 1s - loss: 0.2847 - val_loss: 0.3032 - 648ms/epoch - 797us/step
Epoch 82/200
813/813 - 1s - loss: 0.2845 - val_loss: 0.2997 - 652ms/epoch - 802us/step
Epoch 83/200
813/813 - 1s - loss: 0.2842 - val_loss: 0.3024 - 652ms/epoch - 802us/step
Epoch 84/200
813/813 - 1s - loss: 0.2843 - val_loss: 0.3019 - 656ms/epoch - 807us/step
Epoch 85/200
813/813 - 1s - loss: 0.2838 - val_loss: 0.3030 - 667ms/epoch - 821us/step
Epoch 86/200
813/813 - 1s - loss: 0.2833 - val_loss: 0.3023 - 656ms/epoch - 806us/step
Epoch 87/200
813/813 - 1s - loss: 0.2830 - val_loss: 0.2991 - 653ms/epoch - 803us/step
Epoch 88/200
813/813 - 1s - loss: 0.2833 - val_loss: 0.3001 - 650ms/epoch - 799us/step
Epoch 89/200
813/813 - 1s - loss: 0.2826 - val_loss: 0.2998 - 650ms/epoch - 799us/step
Epoch 90/200
813/813 - 1s - loss: 0.2826 - val_loss: 0.2997 - 649ms/epoch - 798us/step
Epoch 91/200
813/813 - 1s - loss: 0.2827 - val_loss: 0.3044 - 659ms/epoch - 810us/step
Epoch 92/200
813/813 - 1s - loss: 0.2823 - val_loss: 0.2966 - 643ms/epoch - 791us/step
Epoch 93/200
813/813 - 1s - loss: 0.2813 - val_loss: 0.2980 - 645ms/epoch - 793us/step
Epoch 94/200
813/813 - 1s - loss: 0.2813 - val_loss: 0.3064 - 644ms/epoch - 792us/step
Epoch 95/200
813/813 - 1s - loss: 0.2814 - val_loss: 0.3014 - 646ms/epoch - 795us/step
Epoch 96/200
813/813 - 1s - loss: 0.2804 - val_loss: 0.2969 - 652ms/epoch - 802us/step
Epoch 97/200
813/813 - 1s - loss: 0.2808 - val_loss: 0.2959 - 656ms/epoch - 807us/step
Epoch 98/200
813/813 - 1s - loss: 0.2804 - val_loss: 0.2967 - 682ms/epoch - 838us/step
Epoch 99/200
813/813 - 1s - loss: 0.2803 - val_loss: 0.3042 - 667ms/epoch - 820us/step
Epoch 100/200
813/813 - 1s - loss: 0.2804 - val_loss: 0.2951 - 665ms/epoch - 818us/step
Epoch 101/200
813/813 - 1s - loss: 0.2796 - val_loss: 0.3136 - 658ms/epoch - 810us/step
Epoch 102/200
813/813 - 1s - loss: 0.2795 - val_loss: 0.2964 - 650ms/epoch - 799us/step
Epoch 103/200
813/813 - 1s - loss: 0.2786 - val_loss: 0.2953 - 649ms/epoch - 799us/step
Epoch 104/200
813/813 - 1s - loss: 0.2783 - val_loss: 0.2973 - 656ms/epoch - 807us/step
Epoch 105/200
813/813 - 1s - loss: 0.2785 - val_loss: 0.2976 - 658ms/epoch - 809us/step
Epoch 106/200
813/813 - 1s - loss: 0.2777 - val_loss: 0.3080 - 655ms/epoch - 805us/step
Epoch 107/200
813/813 - 1s - loss: 0.2776 - val_loss: 0.2932 - 657ms/epoch - 808us/step
Epoch 108/200
813/813 - 1s - loss: 0.2779 - val_loss: 0.2938 - 655ms/epoch - 805us/step
Epoch 109/200
813/813 - 1s - loss: 0.2771 - val_loss: 0.2956 - 648ms/epoch - 796us/step
Epoch 110/200
813/813 - 1s - loss: 0.2771 - val_loss: 0.2918 - 656ms/epoch - 807us/step
Epoch 111/200
813/813 - 1s - loss: 0.2764 - val_loss: 0.2920 - 655ms/epoch - 806us/step
Epoch 112/200
813/813 - 1s - loss: 0.2762 - val_loss: 0.3053 - 656ms/epoch - 806us/step
Epoch 113/200
813/813 - 1s - loss: 0.2758 - val_loss: 0.2912 - 664ms/epoch - 816us/step
Epoch 114/200
813/813 - 1s - loss: 0.2753 - val_loss: 0.2904 - 658ms/epoch - 810us/step
Epoch 115/200
813/813 - 1s - loss: 0.2752 - val_loss: 0.2909 - 671ms/epoch - 826us/step
Epoch 116/200
813/813 - 1s - loss: 0.2744 - val_loss: 0.2953 - 646ms/epoch - 795us/step
Epoch 117/200
813/813 - 1s - loss: 0.2741 - val_loss: 0.2923 - 643ms/epoch - 791us/step
Epoch 118/200
813/813 - 1s - loss: 0.2742 - val_loss: 0.2863 - 651ms/epoch - 801us/step
Epoch 119/200
813/813 - 1s - loss: 0.2732 - val_loss: 0.2961 - 654ms/epoch - 804us/step
Epoch 120/200
813/813 - 1s - loss: 0.2732 - val_loss: 0.2886 - 652ms/epoch - 801us/step
Epoch 121/200
813/813 - 1s - loss: 0.2714 - val_loss: 0.2854 - 637ms/epoch - 784us/step
Epoch 122/200
813/813 - 1s - loss: 0.2716 - val_loss: 0.2837 - 640ms/epoch - 788us/step
Epoch 123/200
813/813 - 1s - loss: 0.2708 - val_loss: 0.2848 - 659ms/epoch - 811us/step
Epoch 124/200
813/813 - 1s - loss: 0.2698 - val_loss: 0.2913 - 646ms/epoch - 794us/step
Epoch 125/200
813/813 - 1s - loss: 0.2689 - val_loss: 0.2834 - 645ms/epoch - 793us/step
Epoch 126/200
813/813 - 1s - loss: 0.2688 - val_loss: 0.2790 - 647ms/epoch - 795us/step
Epoch 127/200
813/813 - 1s - loss: 0.2675 - val_loss: 0.2837 - 651ms/epoch - 801us/step
Epoch 128/200
813/813 - 1s - loss: 0.2678 - val_loss: 0.2781 - 647ms/epoch - 796us/step
Epoch 129/200
813/813 - 1s - loss: 0.2670 - val_loss: 0.2776 - 647ms/epoch - 796us/step
Epoch 130/200
813/813 - 1s - loss: 0.2664 - val_loss: 0.2874 - 646ms/epoch - 794us/step
Epoch 131/200
813/813 - 1s - loss: 0.2654 - val_loss: 0.2781 - 648ms/epoch - 797us/step
Epoch 132/200
813/813 - 1s - loss: 0.2650 - val_loss: 0.2789 - 638ms/epoch - 785us/step
Epoch 133/200
813/813 - 1s - loss: 0.2645 - val_loss: 0.2843 - 643ms/epoch - 791us/step
Epoch 134/200
813/813 - 1s - loss: 0.2652 - val_loss: 0.2815 - 651ms/epoch - 801us/step
Epoch 135/200
813/813 - 1s - loss: 0.2639 - val_loss: 0.2814 - 659ms/epoch - 811us/step
Epoch 136/200
813/813 - 1s - loss: 0.2629 - val_loss: 0.2783 - 646ms/epoch - 794us/step
Epoch 137/200
813/813 - 1s - loss: 0.2630 - val_loss: 0.2754 - 650ms/epoch - 799us/step
Epoch 138/200
813/813 - 1s - loss: 0.2631 - val_loss: 0.2767 - 649ms/epoch - 798us/step
Epoch 139/200
813/813 - 1s - loss: 0.2615 - val_loss: 0.2741 - 645ms/epoch - 793us/step
Epoch 140/200
813/813 - 1s - loss: 0.2623 - val_loss: 0.2949 - 653ms/epoch - 803us/step
Epoch 141/200
813/813 - 1s - loss: 0.2625 - val_loss: 0.2802 - 645ms/epoch - 794us/step
Epoch 142/200
813/813 - 1s - loss: 0.2617 - val_loss: 0.2746 - 638ms/epoch - 785us/step
Epoch 143/200
813/813 - 1s - loss: 0.2615 - val_loss: 0.2714 - 682ms/epoch - 839us/step
Epoch 144/200
813/813 - 1s - loss: 0.2599 - val_loss: 0.2736 - 652ms/epoch - 802us/step
Epoch 145/200
813/813 - 1s - loss: 0.2609 - val_loss: 0.2725 - 641ms/epoch - 788us/step
Epoch 146/200
813/813 - 1s - loss: 0.2613 - val_loss: 0.2710 - 651ms/epoch - 801us/step
Epoch 147/200
813/813 - 1s - loss: 0.2601 - val_loss: 0.2669 - 648ms/epoch - 797us/step
Epoch 148/200
813/813 - 1s - loss: 0.2597 - val_loss: 0.2782 - 648ms/epoch - 797us/step
Epoch 149/200
813/813 - 1s - loss: 0.2602 - val_loss: 0.2696 - 662ms/epoch - 815us/step
Epoch 150/200
813/813 - 1s - loss: 0.2600 - val_loss: 0.2916 - 652ms/epoch - 802us/step
Epoch 151/200
813/813 - 1s - loss: 0.2595 - val_loss: 0.2757 - 649ms/epoch - 798us/step
Epoch 152/200
813/813 - 1s - loss: 0.2603 - val_loss: 0.2691 - 649ms/epoch - 799us/step
Epoch 153/200
813/813 - 1s - loss: 0.2594 - val_loss: 0.2762 - 661ms/epoch - 813us/step
Epoch 154/200
813/813 - 1s - loss: 0.2589 - val_loss: 0.2698 - 648ms/epoch - 797us/step
Epoch 155/200
813/813 - 1s - loss: 0.2596 - val_loss: 0.2659 - 652ms/epoch - 802us/step
Epoch 156/200
813/813 - 1s - loss: 0.2590 - val_loss: 0.2704 - 647ms/epoch - 796us/step
Epoch 157/200
813/813 - 1s - loss: 0.2589 - val_loss: 0.2752 - 657ms/epoch - 808us/step
Epoch 158/200
813/813 - 1s - loss: 0.2584 - val_loss: 0.2700 - 650ms/epoch - 800us/step
Epoch 159/200
813/813 - 1s - loss: 0.2592 - val_loss: 0.2747 - 652ms/epoch - 802us/step
Epoch 160/200
813/813 - 1s - loss: 0.2584 - val_loss: 0.2737 - 659ms/epoch - 811us/step
Epoch 161/200
813/813 - 1s - loss: 0.2584 - val_loss: 0.2743 - 652ms/epoch - 802us/step
Epoch 162/200
813/813 - 1s - loss: 0.2581 - val_loss: 0.2772 - 647ms/epoch - 796us/step
Epoch 163/200
813/813 - 1s - loss: 0.2581 - val_loss: 0.2677 - 645ms/epoch - 793us/step
Epoch 164/200
813/813 - 1s - loss: 0.2577 - val_loss: 0.2725 - 650ms/epoch - 800us/step
Epoch 165/200
813/813 - 1s - loss: 0.2570 - val_loss: 0.2652 - 649ms/epoch - 798us/step
Epoch 166/200
813/813 - 1s - loss: 0.2575 - val_loss: 0.2733 - 645ms/epoch - 793us/step
Epoch 167/200
813/813 - 1s - loss: 0.2573 - val_loss: 0.2692 - 643ms/epoch - 791us/step
Epoch 168/200
813/813 - 1s - loss: 0.2565 - val_loss: 0.2667 - 654ms/epoch - 805us/step
Epoch 169/200
813/813 - 1s - loss: 0.2576 - val_loss: 0.2710 - 653ms/epoch - 804us/step
Epoch 170/200
813/813 - 1s - loss: 0.2566 - val_loss: 0.2884 - 649ms/epoch - 798us/step
Epoch 171/200
813/813 - 1s - loss: 0.2567 - val_loss: 0.2675 - 669ms/epoch - 822us/step
Epoch 172/200
813/813 - 1s - loss: 0.2568 - val_loss: 0.2836 - 651ms/epoch - 801us/step
Epoch 173/200
813/813 - 1s - loss: 0.2569 - val_loss: 0.2763 - 644ms/epoch - 792us/step
Epoch 174/200
813/813 - 1s - loss: 0.2558 - val_loss: 0.2656 - 681ms/epoch - 838us/step
Epoch 175/200
813/813 - 1s - loss: 0.2565 - val_loss: 0.2675 - 658ms/epoch - 809us/step
Epoch 176/200
813/813 - 1s - loss: 0.2562 - val_loss: 0.2707 - 650ms/epoch - 799us/step
Epoch 177/200
813/813 - 1s - loss: 0.2557 - val_loss: 0.2658 - 652ms/epoch - 802us/step
Epoch 178/200
813/813 - 1s - loss: 0.2559 - val_loss: 0.2738 - 653ms/epoch - 804us/step
Epoch 179/200
813/813 - 1s - loss: 0.2558 - val_loss: 0.2729 - 658ms/epoch - 809us/step
Epoch 180/200
813/813 - 1s - loss: 0.2572 - val_loss: 0.2643 - 660ms/epoch - 812us/step
Epoch 181/200
813/813 - 1s - loss: 0.2557 - val_loss: 0.2701 - 672ms/epoch - 826us/step
Epoch 182/200
813/813 - 1s - loss: 0.2554 - val_loss: 0.2807 - 650ms/epoch - 799us/step
Epoch 183/200
813/813 - 1s - loss: 0.2551 - val_loss: 0.2655 - 654ms/epoch - 804us/step
Epoch 184/200
813/813 - 1s - loss: 0.2549 - val_loss: 0.2675 - 657ms/epoch - 808us/step
Epoch 185/200
813/813 - 1s - loss: 0.2556 - val_loss: 0.2633 - 658ms/epoch - 809us/step
Epoch 186/200
813/813 - 1s - loss: 0.2551 - val_loss: 0.2737 - 654ms/epoch - 804us/step
Epoch 187/200
813/813 - 1s - loss: 0.2550 - val_loss: 0.2650 - 651ms/epoch - 801us/step
Epoch 188/200
813/813 - 1s - loss: 0.2546 - val_loss: 0.2668 - 654ms/epoch - 804us/step
Epoch 189/200
813/813 - 1s - loss: 0.2545 - val_loss: 0.2654 - 647ms/epoch - 796us/step
Epoch 190/200
813/813 - 1s - loss: 0.2548 - val_loss: 0.2688 - 645ms/epoch - 794us/step
Epoch 191/200
813/813 - 1s - loss: 0.2546 - val_loss: 0.2722 - 654ms/epoch - 805us/step
Epoch 192/200
813/813 - 1s - loss: 0.2549 - val_loss: 0.2663 - 653ms/epoch - 803us/step
Epoch 193/200
813/813 - 1s - loss: 0.2541 - val_loss: 0.2757 - 653ms/epoch - 803us/step
Epoch 194/200
813/813 - 1s - loss: 0.2543 - val_loss: 0.2658 - 648ms/epoch - 797us/step
Epoch 195/200
813/813 - 1s - loss: 0.2544 - val_loss: 0.2702 - 654ms/epoch - 804us/step
Epoch 196/200
813/813 - 1s - loss: 0.2549 - val_loss: 0.2731 - 652ms/epoch - 802us/step
Epoch 197/200
813/813 - 1s - loss: 0.2541 - val_loss: 0.2680 - 649ms/epoch - 798us/step
Epoch 198/200
813/813 - 1s - loss: 0.2536 - val_loss: 0.2749 - 655ms/epoch - 806us/step
Epoch 199/200
813/813 - 1s - loss: 0.2548 - val_loss: 0.2683 - 655ms/epoch - 806us/step
Epoch 200/200
813/813 - 1s - loss: 0.2539 - val_loss: 0.2696 - 659ms/epoch - 810us/step

In [1921]:
min((hist.history['loss']))

0.2535618245601654

In [1922]:
y_pred = model.predict(X_test)
y_pred[:5]

180/180 [==============================] - 0s 618us/step

array([[ 66.260216],
       [117.70489 ],
       [221.12839 ],
       [ 65.16386 ],
       [147.29729 ]], dtype=float32)

In [1923]:
y_test

6270      51
31884    120
7726     277
31137     68
21457    161
        ...
5869      36
8020     225
26302     65
24194    125
868      139
Name: price, Length: 5735, dtype: int64

MayB the best I can get here🤷‍♂️

<img src='https://media.tenor.com/OYRWNymOnBQAAAAC/moai-walking-moai.gif'>