In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:\CODING\DATASETS\AustCars\DataSets\EV_cars.csv')
df.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [3]:
df.shape

(360, 9)

In [4]:
df.isnull().sum()

Battery                  0
Car_name                 0
Car_name_link            0
Efficiency               0
Fast_charge              2
Price.DE.               51
Range                    0
Top_speed                0
acceleration..0.100.     0
dtype: int64

In [5]:
df['Price.DE.'] = df['Price.DE.'].fillna(df['Price.DE.'].mean())

In [6]:
df['Car_name'].nunique()

351

In [7]:
df.shape

(360, 9)

In [8]:
df = df.drop('Car_name_link', axis=1)

In [9]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,149,780.0,55220.0,505,201,4.4

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
enc = LabelEncoder()
df['Car_name'] = enc.fit_transform(df['Car_name'])

In [12]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,301,172,670.0,59017.0,435,217,5.0
1,57.5,294,137,700.0,46220.0,420,201,6.1
2,60.5,37,183,370.0,44625.0,330,160,7.3
3,61.7,131,171,630.0,39990.0,360,160,7.9
4,75.0,295,149,780.0,55220.0,505,201,4.4

In [13]:
df.isnull().sum().sum()

2

In [14]:
df.isnull().sum()

Battery                 0
Car_name                0
Efficiency              0
Fast_charge             2
Price.DE.               0
Range                   0
Top_speed               0
acceleration..0.100.    0
dtype: int64

In [15]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,301,172,670.0,59017.0,435,217,5.0
1,57.5,294,137,700.0,46220.0,420,201,6.1
2,60.5,37,183,370.0,44625.0,330,160,7.3
3,61.7,131,171,630.0,39990.0,360,160,7.9
4,75.0,295,149,780.0,55220.0,505,201,4.4

In [16]:
df['Fast_charge'] = df['Fast_charge'].fillna(df['Fast_charge'].mean())

In [17]:
df.isnull().sum()

Battery                 0
Car_name                0
Efficiency              0
Fast_charge             0
Price.DE.               0
Range                   0
Top_speed               0
acceleration..0.100.    0
dtype: int64

In [18]:
df.shape

(360, 8)

In [19]:
X = df.drop('acceleration..0.100.', axis=1)
y = df['acceleration..0.100.']

In [20]:
cols = X.columns

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
scaler = MinMaxScaler((0, 1))
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=cols)
X.head()

    Battery  Car_name  Efficiency  Fast_charge  Price.DE.     Range  Top_speed
0  0.528024  0.860000    0.221519     0.446429   0.186580  0.545455   0.471795
1  0.355949  0.840000    0.000000     0.473214   0.121105  0.518182   0.389744
2  0.385447  0.105714    0.291139     0.178571   0.112944  0.354545   0.179487
3  0.397247  0.374286    0.215190     0.410714   0.089230  0.409091   0.179487
4  0.528024  0.842857    0.075949     0.544643   0.167153  0.672727   0.389744

In [23]:
from sklearn.utils import shuffle

In [24]:
X, y = shuffle(X, y)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [27]:
print(X_train.shape, '-' * 60, y_train.shape)
print('=' * 60)
print(X_test.shape, '-' * 60, y_test.shape)

(288, 7) ------------------------------------------------------------ (288,)
============================================================
(72, 7) ------------------------------------------------------------ (72,)