In [301]:
import pandas as pd
import numpy as np

In [302]:
df = pd.read_csv('D:\CODING\DATASETS\AustCars\DataSets\EV_cars.csv')
df.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [303]:
df.shape

(360, 9)

In [304]:
df.isnull().sum()

Battery                  0
Car_name                 0
Car_name_link            0
Efficiency               0
Fast_charge              2
Price.DE.               51
Range                    0
Top_speed                0
acceleration..0.100.     0
dtype: int64

In [305]:
df['Price.DE.'] = df['Price.DE.'].fillna(df['Price.DE.'].mean())

In [306]:
df['Car_name'].nunique()

351

In [307]:
df.shape

(360, 9)

In [308]:
df = df.drop('Car_name_link', axis=1)

In [309]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,149,780.0,55220.0,505,201,4.4

In [310]:
from sklearn.preprocessing import LabelEncoder

In [311]:
enc = LabelEncoder()
df['Car_name'] = enc.fit_transform(df['Car_name'])

In [312]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,301,172,670.0,59017.0,435,217,5.0
1,57.5,294,137,700.0,46220.0,420,201,6.1
2,60.5,37,183,370.0,44625.0,330,160,7.3
3,61.7,131,171,630.0,39990.0,360,160,7.9
4,75.0,295,149,780.0,55220.0,505,201,4.4

In [313]:
df.isnull().sum().sum()

2

In [314]:
df.isnull().sum()

Battery                 0
Car_name                0
Efficiency              0
Fast_charge             2
Price.DE.               0
Range                   0
Top_speed               0
acceleration..0.100.    0
dtype: int64

In [315]:
df.head()

,Battery,Car_name,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,301,172,670.0,59017.0,435,217,5.0
1,57.5,294,137,700.0,46220.0,420,201,6.1
2,60.5,37,183,370.0,44625.0,330,160,7.3
3,61.7,131,171,630.0,39990.0,360,160,7.9
4,75.0,295,149,780.0,55220.0,505,201,4.4

In [316]:
df['Fast_charge'] = df['Fast_charge'].fillna(df['Fast_charge'].mean())

In [317]:
df.isnull().sum()

Battery                 0
Car_name                0
Efficiency              0
Fast_charge             0
Price.DE.               0
Range                   0
Top_speed               0
acceleration..0.100.    0
dtype: int64

In [318]:
df.shape

(360, 8)

In [319]:
X = df.drop('acceleration..0.100.', axis=1)
y = df['acceleration..0.100.']

In [320]:
cols = X.columns

In [321]:
from sklearn.preprocessing import MinMaxScaler

In [322]:
scaler = MinMaxScaler((0, 1))
X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns=cols)
X.head()

    Battery  Car_name  Efficiency  Fast_charge  Price.DE.     Range  Top_speed
0  0.528024  0.860000    0.221519     0.446429   0.186580  0.545455   0.471795
1  0.355949  0.840000    0.000000     0.473214   0.121105  0.518182   0.389744
2  0.385447  0.105714    0.291139     0.178571   0.112944  0.354545   0.179487
3  0.397247  0.374286    0.215190     0.410714   0.089230  0.409091   0.179487
4  0.528024  0.842857    0.075949     0.544643   0.167153  0.672727   0.389744

In [323]:
from sklearn.utils import shuffle

In [324]:
X, y = shuffle(X, y)

In [325]:
from sklearn.model_selection import train_test_split

In [326]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [327]:
print(X_train.shape, '-' * 60, y_train.shape)
print('=' * 60)
print(X_test.shape, '-' * 60, y_test.shape)

(288, 7) ------------------------------------------------------------ (288,)
============================================================
(72, 7) ------------------------------------------------------------ (72,)

In [328]:
inp_shape = [X.shape[1]]

In [329]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [330]:
model = Sequential([
    layers.Dense(units=10, activation='relu', input_shape=inp_shape),
    layers.Dropout(0.2),
    layers.Dense(units=12, activation='relu'),
    layers.Dropout(0.2),
    layers.Dense(units=1, activation='relu')
])

In [331]:
model.compile(
    optimizer=keras.optimizers.Adam(learning_rate=0.01),
    loss='msle'
)

In [332]:
hist = model.fit(
    X_train, y_train,
    validation_split=0.2,
    epochs=150,
    batch_size=256,
    shuffle=True,
    verbose=2
)

Epoch 1/150

1/1 - 1s - loss: 2.6331 - val_loss: 2.3486 - 587ms/epoch - 587ms/step
Epoch 2/150
1/1 - 0s - loss: 2.2621 - val_loss: 2.0762 - 27ms/epoch - 27ms/step
Epoch 3/150
1/1 - 0s - loss: 2.0338 - val_loss: 1.8282 - 28ms/epoch - 28ms/step
Epoch 4/150
1/1 - 0s - loss: 1.8665 - val_loss: 1.5979 - 22ms/epoch - 22ms/step
Epoch 5/150
1/1 - 0s - loss: 1.6038 - val_loss: 1.3814 - 24ms/epoch - 24ms/step
Epoch 6/150
1/1 - 0s - loss: 1.4266 - val_loss: 1.1818 - 21ms/epoch - 21ms/step
Epoch 7/150
1/1 - 0s - loss: 1.2416 - val_loss: 1.0036 - 22ms/epoch - 22ms/step
Epoch 8/150
1/1 - 0s - loss: 1.1037 - val_loss: 0.8474 - 20ms/epoch - 20ms/step
Epoch 9/150
1/1 - 0s - loss: 0.8944 - val_loss: 0.7126 - 21ms/epoch - 21ms/step
Epoch 10/150
1/1 - 0s - loss: 0.7981 - val_loss: 0.5984 - 21ms/epoch - 21ms/step
Epoch 11/150
1/1 - 0s - loss: 0.5999 - val_loss: 0.5037 - 21ms/epoch - 21ms/step
Epoch 12/150
1/1 - 0s - loss: 0.6218 - val_loss: 0.4265 - 21ms/epoch - 21ms/step
Epoch 13/150
1/1 - 0s - loss: 0.4452 - val_loss: 0.3666 - 21ms/epoch - 21ms/step
Epoch 14/150
1/1 - 0s - loss: 0.4590 - val_loss: 0.3218 - 24ms/epoch - 24ms/step
Epoch 15/150
1/1 - 0s - loss: 0.3846 - val_loss: 0.2904 - 21ms/epoch - 21ms/step
Epoch 16/150
1/1 - 0s - loss: 0.3866 - val_loss: 0.2708 - 26ms/epoch - 26ms/step
Epoch 17/150
1/1 - 0s - loss: 0.3717 - val_loss: 0.2608 - 20ms/epoch - 20ms/step
Epoch 18/150
1/1 - 0s - loss: 0.3711 - val_loss: 0.2588 - 22ms/epoch - 22ms/step
Epoch 19/150
1/1 - 0s - loss: 0.3175 - val_loss: 0.2624 - 21ms/epoch - 21ms/step
Epoch 20/150
1/1 - 0s - loss: 0.3540 - val_loss: 0.2693 - 20ms/epoch - 20ms/step
Epoch 21/150
1/1 - 0s - loss: 0.3663 - val_loss: 0.2774 - 21ms/epoch - 21ms/step
Epoch 22/150
1/1 - 0s - loss: 0.3721 - val_loss: 0.2851 - 21ms/epoch - 21ms/step
Epoch 23/150
1/1 - 0s - loss: 0.3865 - val_loss: 0.2912 - 22ms/epoch - 22ms/step
Epoch 24/150
1/1 - 0s - loss: 0.4115 - val_loss: 0.2949 - 21ms/epoch - 21ms/step
Epoch 25/150
1/1 - 0s - loss: 0.3760 - val_loss: 0.2962 - 21ms/epoch - 21ms/step
Epoch 26/150
1/1 - 0s - loss: 0.3574 - val_loss: 0.2952 - 22ms/epoch - 22ms/step
Epoch 27/150
1/1 - 0s - loss: 0.3982 - val_loss: 0.2919 - 22ms/epoch - 22ms/step
Epoch 28/150
1/1 - 0s - loss: 0.3790 - val_loss: 0.2866 - 20ms/epoch - 20ms/step
Epoch 29/150
1/1 - 0s - loss: 0.3757 - val_loss: 0.2803 - 22ms/epoch - 22ms/step
Epoch 30/150
1/1 - 0s - loss: 0.3995 - val_loss: 0.2731 - 23ms/epoch - 23ms/step
Epoch 31/150
1/1 - 0s - loss: 0.3543 - val_loss: 0.2656 - 21ms/epoch - 21ms/step
Epoch 32/150
1/1 - 0s - loss: 0.3348 - val_loss: 0.2583 - 21ms/epoch - 21ms/step
Epoch 33/150
1/1 - 0s - loss: 0.3449 - val_loss: 0.2510 - 25ms/epoch - 25ms/step
Epoch 34/150
1/1 - 0s - loss: 0.3494 - val_loss: 0.2441 - 21ms/epoch - 21ms/step
Epoch 35/150
1/1 - 0s - loss: 0.3229 - val_loss: 0.2377 - 21ms/epoch - 21ms/step
Epoch 36/150
1/1 - 0s - loss: 0.2935 - val_loss: 0.2322 - 21ms/epoch - 21ms/step
Epoch 37/150
1/1 - 0s - loss: 0.2765 - val_loss: 0.2274 - 21ms/epoch - 21ms/step
Epoch 38/150
1/1 - 0s - loss: 0.3143 - val_loss: 0.2233 - 22ms/epoch - 22ms/step
Epoch 39/150
1/1 - 0s - loss: 0.3026 - val_loss: 0.2198 - 21ms/epoch - 21ms/step
Epoch 40/150
1/1 - 0s - loss: 0.2900 - val_loss: 0.2169 - 21ms/epoch - 21ms/step
Epoch 41/150
1/1 - 0s - loss: 0.3115 - val_loss: 0.2144 - 21ms/epoch - 21ms/step
Epoch 42/150
1/1 - 0s - loss: 0.3011 - val_loss: 0.2122 - 21ms/epoch - 21ms/step
Epoch 43/150
1/1 - 0s - loss: 0.2694 - val_loss: 0.2102 - 26ms/epoch - 26ms/step
Epoch 44/150
1/1 - 0s - loss: 0.2674 - val_loss: 0.2080 - 22ms/epoch - 22ms/step
Epoch 45/150
1/1 - 0s - loss: 0.3039 - val_loss: 0.2054 - 21ms/epoch - 21ms/step
Epoch 46/150
1/1 - 0s - loss: 0.2790 - val_loss: 0.2023 - 21ms/epoch - 21ms/step
Epoch 47/150
1/1 - 0s - loss: 0.2714 - val_loss: 0.1986 - 23ms/epoch - 23ms/step
Epoch 48/150
1/1 - 0s - loss: 0.2917 - val_loss: 0.1943 - 20ms/epoch - 20ms/step
Epoch 49/150
1/1 - 0s - loss: 0.2858 - val_loss: 0.1896 - 22ms/epoch - 22ms/step
Epoch 50/150
1/1 - 0s - loss: 0.2723 - val_loss: 0.1849 - 21ms/epoch - 21ms/step
Epoch 51/150
1/1 - 0s - loss: 0.2370 - val_loss: 0.1801 - 22ms/epoch - 22ms/step
Epoch 52/150
1/1 - 0s - loss: 0.2367 - val_loss: 0.1754 - 21ms/epoch - 21ms/step
Epoch 53/150
1/1 - 0s - loss: 0.2356 - val_loss: 0.1707 - 21ms/epoch - 21ms/step
Epoch 54/150
1/1 - 0s - loss: 0.2560 - val_loss: 0.1661 - 20ms/epoch - 20ms/step
Epoch 55/150
1/1 - 0s - loss: 0.2357 - val_loss: 0.1615 - 22ms/epoch - 22ms/step
Epoch 56/150
1/1 - 0s - loss: 0.2095 - val_loss: 0.1571 - 22ms/epoch - 22ms/step
Epoch 57/150
1/1 - 0s - loss: 0.2107 - val_loss: 0.1528 - 21ms/epoch - 21ms/step
Epoch 58/150
1/1 - 0s - loss: 0.2071 - val_loss: 0.1488 - 22ms/epoch - 22ms/step
Epoch 59/150
1/1 - 0s - loss: 0.2037 - val_loss: 0.1449 - 22ms/epoch - 22ms/step
Epoch 60/150
1/1 - 0s - loss: 0.2062 - val_loss: 0.1410 - 21ms/epoch - 21ms/step
Epoch 61/150
1/1 - 0s - loss: 0.2130 - val_loss: 0.1372 - 23ms/epoch - 23ms/step
Epoch 62/150
1/1 - 0s - loss: 0.1808 - val_loss: 0.1333 - 22ms/epoch - 22ms/step
Epoch 63/150
1/1 - 0s - loss: 0.2047 - val_loss: 0.1294 - 21ms/epoch - 21ms/step
Epoch 64/150
1/1 - 0s - loss: 0.2090 - val_loss: 0.1253 - 21ms/epoch - 21ms/step
Epoch 65/150
1/1 - 0s - loss: 0.1927 - val_loss: 0.1212 - 22ms/epoch - 22ms/step
Epoch 66/150
1/1 - 0s - loss: 0.2015 - val_loss: 0.1171 - 29ms/epoch - 29ms/step
Epoch 67/150
1/1 - 0s - loss: 0.1901 - val_loss: 0.1129 - 25ms/epoch - 25ms/step
Epoch 68/150
1/1 - 0s - loss: 0.1610 - val_loss: 0.1088 - 22ms/epoch - 22ms/step
Epoch 69/150
1/1 - 0s - loss: 0.1650 - val_loss: 0.1047 - 22ms/epoch - 22ms/step
Epoch 70/150
1/1 - 0s - loss: 0.1581 - val_loss: 0.1008 - 21ms/epoch - 21ms/step
Epoch 71/150
1/1 - 0s - loss: 0.1619 - val_loss: 0.0970 - 22ms/epoch - 22ms/step
Epoch 72/150
1/1 - 0s - loss: 0.1375 - val_loss: 0.0934 - 21ms/epoch - 21ms/step
Epoch 73/150
1/1 - 0s - loss: 0.1611 - val_loss: 0.0900 - 22ms/epoch - 22ms/step
Epoch 74/150
1/1 - 0s - loss: 0.1563 - val_loss: 0.0868 - 22ms/epoch - 22ms/step
Epoch 75/150
1/1 - 0s - loss: 0.1231 - val_loss: 0.0836 - 23ms/epoch - 23ms/step
Epoch 76/150
1/1 - 0s - loss: 0.1243 - val_loss: 0.0806 - 22ms/epoch - 22ms/step
Epoch 77/150
1/1 - 0s - loss: 0.1423 - val_loss: 0.0776 - 22ms/epoch - 22ms/step
Epoch 78/150
1/1 - 0s - loss: 0.1400 - val_loss: 0.0748 - 21ms/epoch - 21ms/step
Epoch 79/150
1/1 - 0s - loss: 0.1481 - val_loss: 0.0720 - 23ms/epoch - 23ms/step
Epoch 80/150
1/1 - 0s - loss: 0.1327 - val_loss: 0.0694 - 22ms/epoch - 22ms/step
Epoch 81/150
1/1 - 0s - loss: 0.1415 - val_loss: 0.0668 - 23ms/epoch - 23ms/step
Epoch 82/150
1/1 - 0s - loss: 0.1345 - val_loss: 0.0646 - 23ms/epoch - 23ms/step
Epoch 83/150
1/1 - 0s - loss: 0.1091 - val_loss: 0.0624 - 22ms/epoch - 22ms/step
Epoch 84/150
1/1 - 0s - loss: 0.1198 - val_loss: 0.0604 - 21ms/epoch - 21ms/step
Epoch 85/150
1/1 - 0s - loss: 0.1213 - val_loss: 0.0586 - 20ms/epoch - 20ms/step
Epoch 86/150
1/1 - 0s - loss: 0.1270 - val_loss: 0.0571 - 22ms/epoch - 22ms/step
Epoch 87/150
1/1 - 0s - loss: 0.1095 - val_loss: 0.0556 - 23ms/epoch - 23ms/step
Epoch 88/150
1/1 - 0s - loss: 0.1171 - val_loss: 0.0541 - 22ms/epoch - 22ms/step
Epoch 89/150
1/1 - 0s - loss: 0.1040 - val_loss: 0.0527 - 21ms/epoch - 21ms/step
Epoch 90/150
1/1 - 0s - loss: 0.1001 - val_loss: 0.0515 - 23ms/epoch - 23ms/step
Epoch 91/150
1/1 - 0s - loss: 0.1157 - val_loss: 0.0504 - 21ms/epoch - 21ms/step
Epoch 92/150
1/1 - 0s - loss: 0.1152 - val_loss: 0.0492 - 22ms/epoch - 22ms/step
Epoch 93/150
1/1 - 0s - loss: 0.1028 - val_loss: 0.0482 - 21ms/epoch - 21ms/step
Epoch 94/150
1/1 - 0s - loss: 0.1094 - val_loss: 0.0472 - 21ms/epoch - 21ms/step
Epoch 95/150
1/1 - 0s - loss: 0.1088 - val_loss: 0.0462 - 22ms/epoch - 22ms/step
Epoch 96/150
1/1 - 0s - loss: 0.1046 - val_loss: 0.0452 - 21ms/epoch - 21ms/step
Epoch 97/150
1/1 - 0s - loss: 0.1141 - val_loss: 0.0442 - 21ms/epoch - 21ms/step
Epoch 98/150
1/1 - 0s - loss: 0.1119 - val_loss: 0.0432 - 21ms/epoch - 21ms/step
Epoch 99/150
1/1 - 0s - loss: 0.0911 - val_loss: 0.0423 - 22ms/epoch - 22ms/step
Epoch 100/150
1/1 - 0s - loss: 0.0959 - val_loss: 0.0415 - 21ms/epoch - 21ms/step
Epoch 101/150
1/1 - 0s - loss: 0.0848 - val_loss: 0.0406 - 21ms/epoch - 21ms/step
Epoch 102/150
1/1 - 0s - loss: 0.0920 - val_loss: 0.0397 - 23ms/epoch - 23ms/step
Epoch 103/150
1/1 - 0s - loss: 0.0973 - val_loss: 0.0389 - 21ms/epoch - 21ms/step
Epoch 104/150
1/1 - 0s - loss: 0.0862 - val_loss: 0.0381 - 32ms/epoch - 32ms/step
Epoch 105/150
1/1 - 0s - loss: 0.0894 - val_loss: 0.0374 - 22ms/epoch - 22ms/step
Epoch 106/150
1/1 - 0s - loss: 0.0847 - val_loss: 0.0366 - 21ms/epoch - 21ms/step
Epoch 107/150
1/1 - 0s - loss: 0.1023 - val_loss: 0.0359 - 20ms/epoch - 20ms/step
Epoch 108/150
1/1 - 0s - loss: 0.0870 - val_loss: 0.0351 - 21ms/epoch - 21ms/step
Epoch 109/150
1/1 - 0s - loss: 0.0896 - val_loss: 0.0345 - 20ms/epoch - 20ms/step
Epoch 110/150
1/1 - 0s - loss: 0.0821 - val_loss: 0.0339 - 20ms/epoch - 20ms/step
Epoch 111/150
1/1 - 0s - loss: 0.0829 - val_loss: 0.0333 - 24ms/epoch - 24ms/step
Epoch 112/150
1/1 - 0s - loss: 0.0855 - val_loss: 0.0327 - 21ms/epoch - 21ms/step
Epoch 113/150
1/1 - 0s - loss: 0.0817 - val_loss: 0.0321 - 22ms/epoch - 22ms/step
Epoch 114/150
1/1 - 0s - loss: 0.0798 - val_loss: 0.0315 - 22ms/epoch - 22ms/step
Epoch 115/150
1/1 - 0s - loss: 0.0887 - val_loss: 0.0310 - 21ms/epoch - 21ms/step
Epoch 116/150
1/1 - 0s - loss: 0.0843 - val_loss: 0.0306 - 21ms/epoch - 21ms/step
Epoch 117/150
1/1 - 0s - loss: 0.0814 - val_loss: 0.0303 - 21ms/epoch - 21ms/step
Epoch 118/150
1/1 - 0s - loss: 0.0710 - val_loss: 0.0299 - 21ms/epoch - 21ms/step
Epoch 119/150
1/1 - 0s - loss: 0.0890 - val_loss: 0.0298 - 21ms/epoch - 21ms/step
Epoch 120/150
1/1 - 0s - loss: 0.0819 - val_loss: 0.0297 - 23ms/epoch - 23ms/step
Epoch 121/150
1/1 - 0s - loss: 0.0720 - val_loss: 0.0296 - 23ms/epoch - 23ms/step
Epoch 122/150
1/1 - 0s - loss: 0.0822 - val_loss: 0.0295 - 22ms/epoch - 22ms/step
Epoch 123/150
1/1 - 0s - loss: 0.0741 - val_loss: 0.0293 - 21ms/epoch - 21ms/step
Epoch 124/150
1/1 - 0s - loss: 0.0885 - val_loss: 0.0290 - 22ms/epoch - 22ms/step
Epoch 125/150
1/1 - 0s - loss: 0.0825 - val_loss: 0.0286 - 22ms/epoch - 22ms/step
Epoch 126/150
1/1 - 0s - loss: 0.0741 - val_loss: 0.0281 - 21ms/epoch - 21ms/step
Epoch 127/150
1/1 - 0s - loss: 0.0773 - val_loss: 0.0278 - 22ms/epoch - 22ms/step
Epoch 128/150
1/1 - 0s - loss: 0.0764 - val_loss: 0.0275 - 24ms/epoch - 24ms/step
Epoch 129/150
1/1 - 0s - loss: 0.0593 - val_loss: 0.0275 - 21ms/epoch - 21ms/step
Epoch 130/150
1/1 - 0s - loss: 0.0845 - val_loss: 0.0272 - 22ms/epoch - 22ms/step
Epoch 131/150
1/1 - 0s - loss: 0.0742 - val_loss: 0.0270 - 22ms/epoch - 22ms/step
Epoch 132/150
1/1 - 0s - loss: 0.0709 - val_loss: 0.0269 - 21ms/epoch - 21ms/step
Epoch 133/150
1/1 - 0s - loss: 0.0809 - val_loss: 0.0269 - 20ms/epoch - 20ms/step
Epoch 134/150
1/1 - 0s - loss: 0.0674 - val_loss: 0.0270 - 22ms/epoch - 22ms/step
Epoch 135/150
1/1 - 0s - loss: 0.0803 - val_loss: 0.0270 - 21ms/epoch - 21ms/step
Epoch 136/150
1/1 - 0s - loss: 0.0608 - val_loss: 0.0270 - 20ms/epoch - 20ms/step
Epoch 137/150
1/1 - 0s - loss: 0.0783 - val_loss: 0.0271 - 21ms/epoch - 21ms/step
Epoch 138/150
1/1 - 0s - loss: 0.0672 - val_loss: 0.0271 - 21ms/epoch - 21ms/step
Epoch 139/150
1/1 - 0s - loss: 0.0793 - val_loss: 0.0271 - 21ms/epoch - 21ms/step
Epoch 140/150
1/1 - 0s - loss: 0.0590 - val_loss: 0.0271 - 22ms/epoch - 22ms/step
Epoch 141/150
1/1 - 0s - loss: 0.0705 - val_loss: 0.0270 - 23ms/epoch - 23ms/step
Epoch 142/150
1/1 - 0s - loss: 0.0683 - val_loss: 0.0270 - 32ms/epoch - 32ms/step
Epoch 143/150
1/1 - 0s - loss: 0.0758 - val_loss: 0.0270 - 22ms/epoch - 22ms/step
Epoch 144/150
1/1 - 0s - loss: 0.0747 - val_loss: 0.0270 - 21ms/epoch - 21ms/step
Epoch 145/150
1/1 - 0s - loss: 0.0619 - val_loss: 0.0269 - 21ms/epoch - 21ms/step
Epoch 146/150
1/1 - 0s - loss: 0.0722 - val_loss: 0.0268 - 20ms/epoch - 20ms/step
Epoch 147/150
1/1 - 0s - loss: 0.0563 - val_loss: 0.0267 - 22ms/epoch - 22ms/step
Epoch 148/150
1/1 - 0s - loss: 0.0667 - val_loss: 0.0266 - 21ms/epoch - 21ms/step
Epoch 149/150
1/1 - 0s - loss: 0.0740 - val_loss: 0.0266 - 21ms/epoch - 21ms/step
Epoch 150/150
1/1 - 0s - loss: 0.0611 - val_loss: 0.0267 - 21ms/epoch - 21ms/step

In [333]:
y_pred = model.predict(X_test)

WARNING:tensorflow:5 out of the last 16 calls to <function Model.make_predict_function.<locals>.predict_function at 0x000001D17A3ABB00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
3/3 [==============================] - 0s 1ms/step

In [334]:
for el in zip(y_pred, y_test):
    print(*el)

[6.156938] 5.4
[5.950725] 7.0
[12.042082] 13.3
[7.263437] 6.7
[4.7619042] 4.0
[4.3873467] 3.8
[5.31367] 4.0
[10.858988] 12.0
[6.173704] 8.3
[5.9810114] 6.5
[4.672732] 6.4
[8.209735] 9.1
[5.906006] 5.4
[6.423256] 8.6
[5.1822824] 3.8
[12.704744] 12.1
[4.7289076] 3.4
[12.16661] 12.0
[5.7605476] 3.7
[12.657441] 12.1
[8.26395] 6.9
[10.513927] 12.1
[6.4821243] 8.8
[8.692125] 9.0
[7.3170033] 9.2
[12.87162] 12.1
[5.849332] 4.9
[4.980505] 4.6
[11.856559] 11.7
[11.739346] 13.1
[8.34563] 7.8
[6.478527] 8.5
[5.3129516] 3.9
[12.298799] 12.0
[5.6653414] 8.8
[5.035495] 6.7
[5.735429] 3.9
[5.9384127] 4.5
[7.361745] 9.3
[5.67554] 6.5
[5.012207] 6.0
[6.7304115] 8.5
[5.810483] 5.6
[5.3053594] 6.6
[6.377101] 7.3
[7.709865] 5.6
[7.401627] 8.1
[6.835134] 3.8
[4.8940744] 6.2
[5.524748] 4.5
[7.7969227] 7.5
[4.1276617] 3.0
[6.3306828] 7.6
[11.908813] 11.7
[6.5335464] 7.9
[5.026912] 6.6
[8.755953] 7.5
[6.203967] 6.6
[11.965501] 11.2
[9.934134] 7.9
[4.2998] 3.2
[11.824762] 13.3
[11.790131] 13.3
[5.0400147] 4.3
[11.774838] 11.2
[4.6253786] 5.1
[6.387275] 8.9
[9.655239] 10.0
[8.71576] 10.2
[5.674337] 6.0
[6.2176495] 6.6
[6.1494427] 4.8

In [ ]:
# EZ EZ EZ!!!!

<img src='https://64.media.tumblr.com/6f311e8c5f1c4f489cc936c8751df28f/10ec932db5b963b6-71/s400x600/114c5ad05b3a682c8c3f1959977c2eb6ef663260.gif'>

<img src='https://us-tuna-sounds-images.voicemod.net/a8e74f17-f5dd-41d6-9bec-f97d326783de-1686185949059.jpg' width=35%>