In [50]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('Australian Vehicle Prices.csv')
df.head(3)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988

In [52]:
df.shape

(16734, 19)

In [53]:
df.isnull().sum()

Brand                   1
Year                    1
Model                   1
Car/Suv                28
Title                   1
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
ColourExtInt            1
Location              450
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

In [54]:
int(df['Seats'][0].split()[0])

7

In [55]:
df['Seats'].value_counts()

Seats
 5 Seats     11313
 7 Seats      1791
 4 Seats       676
 2 Seats       594
 3 Seats       328
 8 Seats       272
 6 Seats        30
 14 Seats       12
 12 Seats        4
 9 Seats         3
 11 Seats        3
 22 Seats        2
 15 Seats        1
Name: count, dtype: int64

In [56]:
df['Seats'] = df['Seats'].fillna('5 Seats')

In [57]:
df['Seats'] = df['Seats'].astype(str)

In [58]:
df['Seats'] = df['Seats'].apply(lambda x: int(x.split()[0]))

In [59]:
df['Doors'].value_counts()

Doors
 4 Doors     11191
 5 Doors      2533
 2 Doors      1122
 3 Doors       213
 5 Seats        22
 2 Seats        10
 6 Seats         9
 7 Seats         8
 8 Seats         8
 3 Seats         6
 9 Seats         4
 4 Seats         3
 12 Seats        1
Name: count, dtype: int64

In [60]:
df['Doors'] = df['Doors'].fillna('4 Doors')

In [61]:
df['Doors'] = df['Doors'].apply(lambda x: int(x.split()[0]))

In [62]:
df['Doors'].max()

12

In [63]:
df.isnull().sum()

Brand                  1
Year                   1
Model                  1
Car/Suv               28
Title                  1
UsedOrNew              1
Transmission           1
Engine                 1
DriveType              1
FuelType               1
FuelConsumption        1
Kilometres             1
ColourExtInt           1
Location             450
CylindersinEngine      1
BodyType             282
Doors                  0
Seats                  0
Price                  3
dtype: int64

In [64]:
df['Car/Suv'].value_counts()

Car/Suv
SUV                             5921
Hatchback                       2365
Ute / Tray                      2068
Sedan                           1898
Wagon                            577
                                ...
Werribee Hyundai                   1
Bay City Holden Used.              1
Auto Mega Warehouse Brisbane       1
Consign-A-Car P/L (Kedron)         1
Australian Vehicle Locators        1
Name: count, Length: 618, dtype: int64

In [65]:
df['Car/Suv'] = df['Car/Suv'].fillna('SUV')

In [67]:
df['Location'].value_counts()

Location
Minchinbury, NSW          544
Blacktown, NSW            295
Liverpool, NSW            254
Hoppers Crossing, VIC     227
Ringwood, VIC             215
                         ...
West Lakes, SA              1
Eight Mile Plains, QLD      1
Goodwood, SA                1
Mudgeeraba, QLD             1
East Toowoomba, QLD         1
Name: count, Length: 618, dtype: int64

In [69]:
df['Location'] = df['Location'].fillna('Minchinbury, NSW')

In [70]:
df['BodyType'].value_counts()

BodyType
SUV             6907
Hatchback       2697
Ute / Tray      2512
Sedan           1983
Wagon           1232
Commercial       610
Coupe            336
Convertible      131
Other             23
People Mover      21
Name: count, dtype: int64

In [71]:
df['BodyType'] = df['BodyType'].fillna('SUV')

In [72]:
df.isnull().sum().sum()

16

In [73]:
df = df.dropna()

In [74]:
df.shape

(16731, 19)

In [75]:
df.isnull().sum().sum()

0

In [76]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4,7,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5,5,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2,4,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2,4,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4,5,34990

In [77]:
df['CylindersinEngine'].nunique()

11

In [78]:
df['CylindersinEngine'] = df['CylindersinEngine'].astype(str)

In [80]:
df['CylindersinEngine'].value_counts()

CylindersinEngine
4 cyl     11505
6 cyl      2089
-          1673
8 cyl       605
5 cyl       399
3 cyl       330
0 L         106
12 cyl       16
2 cyl         4
10 cyl        3
2 L           1
Name: count, dtype: int64

In [82]:
df['CylindersinEngine'] = df['CylindersinEngine'].apply(lambda x: '4 cyl' if x == '-' else x)

In [83]:
df['CylindersinEngine'] = df['CylindersinEngine'].apply(lambda x: int(x.split()[0]))

In [84]:
df['CylindersinEngine'].max()

12

In [85]:
df['ColourExtInt'].nunique()

834