In [149]:
import pandas as pd
import numpy as np

In [150]:
import warnings
warnings.filterwarnings('ignore')

In [151]:
df = pd.read_csv('Australian Vehicle Prices.csv')
df.head(3)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988

In [152]:
df.shape

(16734, 19)

In [153]:
df.isnull().sum()

Brand                   1
Year                    1
Model                   1
Car/Suv                28
Title                   1
UsedOrNew               1
Transmission            1
Engine                  1
DriveType               1
FuelType                1
FuelConsumption         1
Kilometres              1
ColourExtInt            1
Location              450
CylindersinEngine       1
BodyType              282
Doors                1604
Seats                1705
Price                   3
dtype: int64

In [154]:
int(df['Seats'][0].split()[0])

7

In [155]:
df['Seats'].value_counts()

Seats
 5 Seats     11313
 7 Seats      1791
 4 Seats       676
 2 Seats       594
 3 Seats       328
 8 Seats       272
 6 Seats        30
 14 Seats       12
 12 Seats        4
 9 Seats         3
 11 Seats        3
 22 Seats        2
 15 Seats        1
Name: count, dtype: int64

In [156]:
df['Seats'] = df['Seats'].fillna('5 Seats')

In [157]:
df['Seats'] = df['Seats'].astype(str)

In [158]:
df['Seats'] = df['Seats'].apply(lambda x: int(x.split()[0]))

In [159]:
df['Doors'].value_counts()

Doors
 4 Doors     11191
 5 Doors      2533
 2 Doors      1122
 3 Doors       213
 5 Seats        22
 2 Seats        10
 6 Seats         9
 7 Seats         8
 8 Seats         8
 3 Seats         6
 9 Seats         4
 4 Seats         3
 12 Seats        1
Name: count, dtype: int64

In [160]:
df['Doors'] = df['Doors'].fillna('4 Doors')

In [161]:
df['Doors'] = df['Doors'].apply(lambda x: int(x.split()[0]))

In [162]:
df['Doors'].max()

12

In [163]:
df.isnull().sum()

Brand                  1
Year                   1
Model                  1
Car/Suv               28
Title                  1
UsedOrNew              1
Transmission           1
Engine                 1
DriveType              1
FuelType               1
FuelConsumption        1
Kilometres             1
ColourExtInt           1
Location             450
CylindersinEngine      1
BodyType             282
Doors                  0
Seats                  0
Price                  3
dtype: int64

In [164]:
df['Car/Suv'].value_counts()

Car/Suv
SUV                             5921
Hatchback                       2365
Ute / Tray                      2068
Sedan                           1898
Wagon                            577
                                ...
Werribee Hyundai                   1
Bay City Holden Used.              1
Auto Mega Warehouse Brisbane       1
Consign-A-Car P/L (Kedron)         1
Australian Vehicle Locators        1
Name: count, Length: 618, dtype: int64

In [165]:
df['Car/Suv'] = df['Car/Suv'].fillna('SUV')

In [166]:
df['Location'].value_counts()

Location
Minchinbury, NSW          544
Blacktown, NSW            295
Liverpool, NSW            254
Hoppers Crossing, VIC     227
Ringwood, VIC             215
                         ...
West Lakes, SA              1
Eight Mile Plains, QLD      1
Goodwood, SA                1
Mudgeeraba, QLD             1
East Toowoomba, QLD         1
Name: count, Length: 618, dtype: int64

In [167]:
df['Location'] = df['Location'].fillna('Minchinbury, NSW')

In [168]:
df['BodyType'].value_counts()

BodyType
SUV             6907
Hatchback       2697
Ute / Tray      2512
Sedan           1983
Wagon           1232
Commercial       610
Coupe            336
Convertible      131
Other             23
People Mover      21
Name: count, dtype: int64

In [169]:
df['BodyType'] = df['BodyType'].fillna('SUV')

In [170]:
df.isnull().sum().sum()

16

In [171]:
df = df.dropna()

In [172]:
df.shape

(16731, 19)

In [173]:
df.isnull().sum().sum()

0

In [174]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4,7,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5,5,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2,4,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2,4,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4,5,34990

In [175]:
df['CylindersinEngine'].nunique()

11

In [176]:
df['CylindersinEngine'] = df['CylindersinEngine'].astype(str)

In [177]:
df['CylindersinEngine'].value_counts()

CylindersinEngine
4 cyl     11505
6 cyl      2089
-          1673
8 cyl       605
5 cyl       399
3 cyl       330
0 L         106
12 cyl       16
2 cyl         4
10 cyl        3
2 L           1
Name: count, dtype: int64

In [178]:
df['CylindersinEngine'] = df['CylindersinEngine'].apply(lambda x: '4 cyl' if x == '-' else x)

In [179]:
df['CylindersinEngine'] = df['CylindersinEngine'].apply(lambda x: int(x.split()[0]))

In [180]:
df['CylindersinEngine'].max()

12

In [181]:
df['ColourExtInt'].nunique()

834

In [182]:
df.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4,SUV,4,7,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4,Hatchback,5,5,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4,Coupe,2,4,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8,Coupe,2,4,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4,SUV,4,5,34990

In [183]:
for c in df.columns:
    print(f'{c} ------------- {df[c].nunique()}')
    print('='*60)

Brand ------------- 76
============================================================
Year ------------- 45
============================================================
Model ------------- 781
============================================================
Car/Suv ------------- 618
============================================================
Title ------------- 8804
============================================================
UsedOrNew ------------- 3
============================================================
Transmission ------------- 3
============================================================
Engine ------------- 106
============================================================
DriveType ------------- 5
============================================================
FuelType ------------- 9
============================================================
FuelConsumption ------------- 157
============================================================
Kilometres ------------- 14261
============================================================
ColourExtInt ------------- 834
============================================================
Location ------------- 618
============================================================
CylindersinEngine ------------- 9
============================================================
BodyType ------------- 10
============================================================
Doors ------------- 9
============================================================
Seats ------------- 13
============================================================
Price ------------- 3794
============================================================

In [184]:
df = df.drop('Title', axis=1)

In [185]:
df.dtypes

Brand                 object
Year                 float64
Model                 object
Car/Suv               object
UsedOrNew             object
Transmission          object
Engine                object
DriveType             object
FuelType              object
FuelConsumption       object
Kilometres            object
ColourExtInt          object
Location              object
CylindersinEngine      int64
BodyType              object
Doors                  int64
Seats                  int64
Price                 object
dtype: object

In [186]:
df = df[df['Price'] != 'POA']

In [187]:
df = df[df['Kilometres'] != '-']

In [188]:
df = df[df['Kilometres'] != '- / -']

In [189]:
df.shape

(16106, 18)

In [190]:
df['Kilometres'].value_counts()

Kilometres
10        126
15         94
20         83
7          58
22         49
         ...
4220        1
57409       1
93518       1
169360      1
31852       1
Name: count, Length: 14254, dtype: int64

In [191]:
numeric = ['Price', 'Seats', 'Doors', 'CylindersinEngine', 'Kilometres']

for c in numeric:
    df[c] = df[c].astype(float)

In [192]:
df['Price'].astype('float64')

0         51990.0
1         19990.0
2        108988.0
3         32990.0
4         34990.0
           ...
16729     29500.0
16730     39888.0
16731     35280.0
16732     41888.0
16733     65888.0
Name: Price, Length: 16106, dtype: float64

In [193]:
df.head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595.0,White / Black,"Caringbah, NSW",4.0,SUV,4.0,7.0,51990.0
1,MG,2022.0,MG3,Hatchback,USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16.0,Black / Black,"Brookvale, NSW",4.0,Hatchback,5.0,5.0,19990.0
2,BMW,2022.0,430I,Coupe,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472.0,Grey / White,"Sylvania, NSW",4.0,Coupe,2.0,4.0,108988.0
3,Mercedes-Benz,2011.0,E500,Coupe,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517.0,White / Brown,"Mount Druitt, NSW",8.0,Coupe,2.0,4.0,32990.0
4,Renault,2022.0,Arkana,SUV,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035.0,Grey / Black,"Castle Hill, NSW",4.0,SUV,4.0,5.0,34990.0

In [194]:
df.dtypes

Brand                 object
Year                 float64
Model                 object
Car/Suv               object
UsedOrNew             object
Transmission          object
Engine                object
DriveType             object
FuelType              object
FuelConsumption       object
Kilometres           float64
ColourExtInt          object
Location              object
CylindersinEngine    float64
BodyType              object
Doors                float64
Seats                float64
Price                float64
dtype: object

In [195]:
from sklearn.preprocessing import LabelEncoder

In [196]:
obj_vals = []

for i in range(df.shape[1]):
  if df.dtypes[i] == object:
    obj_vals.append(df.columns[i])
     

enc = LabelEncoder()
for c in obj_vals:
  df[c] = enc.fit_transform(df[c])

In [197]:
df.head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,62,2022.0,588,497,0,1,30,1,1,140,5595.0,638,113,4.0,6,4.0,7.0,51990.0
1,41,2022.0,468,223,2,1,23,2,7,120,16.0,38,80,4.0,3,5.0,5.0,19990.0
2,4,2022.0,62,157,2,1,28,4,7,119,8472.0,396,526,4.0,2,2.0,4.0,108988.0
3,46,2011.0,264,157,2,1,83,4,7,14,136517.0,681,374,8.0,2,2.0,4.0,32990.0
4,56,2022.0,120,457,2,1,21,2,8,113,1035.0,300,119,4.0,6,4.0,5.0,34990.0

In [199]:
from sklearn.preprocessing import MinMaxScaler

In [200]:
scaler = MinMaxScaler((0, 1))

cols = df.columns

In [201]:
df = scaler.fit_transform(df)

In [202]:
df = pd.DataFrame(df, columns=cols)

In [203]:
df.head()

,Brand,Year,Model,Car/Suv,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,0.898551,0.987952,0.795670,0.824212,0.0,0.5,0.329670,0.25,0.125,0.921053,0.010479,0.798498,0.183442,0.333333,0.666667,0.2,0.25,0.034603
1,0.594203,0.987952,0.633288,0.369818,1.0,0.5,0.252747,0.50,0.875,0.789474,0.000028,0.047559,0.129870,0.333333,0.333333,0.3,0.15,0.013269
2,0.057971,0.987952,0.083897,0.260365,1.0,0.5,0.307692,1.00,0.875,0.782895,0.015868,0.495620,0.853896,0.333333,0.222222,0.0,0.10,0.072604
3,0.666667,0.855422,0.357240,0.260365,1.0,0.5,0.912088,1.00,0.875,0.092105,0.255721,0.852315,0.607143,0.666667,0.222222,0.0,0.10,0.021936
4,0.811594,0.987952,0.162382,0.757877,1.0,0.5,0.230769,0.50,1.000,0.743421,0.001937,0.375469,0.193182,0.333333,0.666667,0.2,0.15,0.023269

In [204]:
from sklearn.model_selection import train_test_split

In [205]:
X = df.drop('Price', axis=1)
y = df['Price']

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [207]:
print(X_train.shape, '-'*10, y_train.shape)
print('=' * 60)
print(X_test.shape, '-'*10, y_test.shape)

(12079, 17) ---------- (12079,)
============================================================
(4027, 17) ---------- (4027,)